<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjft.usp.anyfix.work.auto.mapper.WorkDispatchServiceBranchMapper">


    <resultMap type="com.zjft.usp.anyfix.work.auto.dto.WorkDispatchServiceBranchDto" id="workServiceBranchDto">
        <id property="id" column="id"/>
        <result property="serviceCorp" column="service_corp"/>
        <result property="serviceBranch" column="service_branch"/>
        <result property="handleType" column="handle_type"/>
        <result property="serviceMode" column="service_mode"/>
        <result property="conditionId" column="condition_id"/>
        <result property="customCorp" column="custom_corp"/>
        <result property="demanderCorp" column="demander_corp"/>
        <result property="largeClassId" column="large_class_id"/>
        <result property="smallClassId" column="small_class_id"/>
        <result property="brandId" column="brand_id"/>
        <result property="modelId" column="model_id"/>
        <result property="district" column="district"/>
        <result property="deviceBranch" column="device_branch"/>
    </resultMap>

    <!-- 分页查询自动分配服务网点规则 -->
    <select id="query" resultMap="workServiceBranchDto">
        select
        sc.id as id,
        sc.service_corp as service_corp,
        sc.service_branch as service_branch,
        sc.condition_id as condition_id,
        sc.handle_type as handle_type,
        sc.service_mode as service_mode,
        c.custom_corp as custom_corp,
        c.demander_corp as demander_corp,
        c.work_type as work_type,
        c.large_class_id as large_class_id,
        c.small_class_id as small_class_id,
        c.brand_id as brand_id,
        c.model_id as model_id,
        c.district as district,
        c.device_branch as device_branch
        from
        work_dispatch_service_branch sc
        left join work_condition c
        on sc.condition_id=c.id
        where
        1=1
        and sc.service_corp=#{filter.serviceCorp}
        <if test='filter.district != null and filter.district != ""'>
            and (c.district like concat(#{filter.district}, '%') or (#{filter.district} = '5001' and c.district like '5002%'))
        </if>
        <if test='filter.serviceBranch != null and filter.serviceBranch > 0'>
            and sc.service_branch=#{filter.serviceBranch}
        </if>
        <if test="filter.demanderCorp != null and filter.demanderCorp != ''">
            and c.demander_corp=#{filter.demanderCorp}
        </if>
    </select>

    <!-- 根据条件匹配服务网点 -->
    <select id="matchServiceBranch" resultMap="workServiceBranchDto">
        select
        sc.id as id,
        sc.service_corp as service_corp,
        sc.service_branch as service_branch,
        sc.condition_id as condition_id,
        sc.handle_type as handle_type,
        sc.service_mode as service_mode,
        c.custom_corp as custom_corp,
        c.demander_corp as demander_corp,
        c.work_type as work_type,
        c.large_class_id as large_class_id ,
        c.small_class_id as small_class_id,
        c.brand_id as brand_id,
        c.model_id as model_id,
        c.district as district,
        c.device_branch as device_branch
        from
        work_dispatch_service_branch sc
        left join work_condition c
        on sc.condition_id=c.id
        where
        1=1
        and sc.service_corp=#{serviceCorp}
        <if test='customCorp != null and customCorp > 0'>
            and (c.custom_corp=#{customCorp} or c.custom_corp = 0)
        </if>
        <if test='demanderCorp != null and demanderCorp > 0'>
            and (c.demander_corp=#{demanderCorp} or c.demander_corp = 0)
        </if>
        <if test='serviceBranch != null and serviceBranch > 0'>
            and (sc.service_branch=#{serviceBranch} or sc.service_branch = 0)
        </if>
        <if test='workType != null and workType != ""'>
            and (c.work_type=#{workType} or c.work_type = '')
        </if>
        <if test='largeClassId != null and largeClassId > 0'>
            and (c.large_class_id=#{largeClassId} or c.large_class_id = 0)
        </if>
        <if test='smallClassId != null and smallClassId != ""'>
            and (FIND_IN_SET(#{smallClassId}, c.small_class_id) > 0 or c.small_class_id = '0' or c.small_class_id = '')
        </if>
        <if test='brandId != null and brandId != ""'>
            and (FIND_IN_SET(#{brandId}, c.brand_id) > 0 or c.brand_id = '0' or c.brand_id = '')
        </if>
        <if test='modelId != null and modelId != ""'>
            and (FIND_IN_SET(#{modelId}, c.model_id) > 0 or c.model_id = '0' or c.model_id = '')
        </if>
        <if test='district != null and district != ""'>
            and (#{district} like concat(c.district, '%') or (c.district = '5001' and #{district} like '5002%') or c.district = '')
        </if>
        <if test='deviceBranch != null and deviceBranch != ""'>
            and (FIND_IN_SET(#{deviceBranch}, c.device_branch) > 0 or c.device_branch = '0' or c.device_branch = '')
        </if>
    </select>
</mapper>
