<nz-layout>
  <nz-content>
    <nz-card>
      <div class="edit-button-div">
        <!--<i nz-icon nzType="plus-circle" nzTheme="outline" class="icon-add" (click)="addSettleCustom()" nz-tooltip
           nzTooltipTitle="新建"></i>
        <i nz-icon nzType="anyfix:filtrate" nzTheme="outline" class="img-filtrate" (click)="openDrawer()" nz-tooltip
           nzTooltipTitle="筛选"></i>-->
        <button nz-button  class="icon-add" nzShape="round"  (click)="addSettleCustom()">新建</button>
        <button nz-button  class="img-filtrate" nzShape="round"  (click)="openDrawer()">筛选</button>
      </div>
      <nz-table
        nzShowSizeChanger
        nzBordered
        [nzFrontPagination]="false"
        [nzData]="settleCustomList"
        [nzLoading]="loading"
        [nzTotal]="page.total"
        [(nzPageIndex)]="page.pageNum"
        [(nzPageSize)]="page.pageSize"
        (nzPageIndexChange)="querySettleCustom(getParams(), false)"
        (nzPageSizeChange)="querySettleCustom(getParams(), true)"
      >
        <thead>
        <tr>
          <th style="width: 70px">序号</th>
          <th>客户名称</th>
          <th>结算周期</th>
          <th>结算工单总数</th>
          <th>结算单状态</th>
          <th>备注</th>
          <th>结算人</th>
          <th>结算时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr (click)="showDetail(data)" *ngFor="let data of settleCustomList;let index = index">
          <td nzAlign="center">{{ page.getNo(index) }}</td>
          <td>{{ data.customName }}</td>
          <td>{{ data.startDate | date:'yyyy-MM-dd' }} ~ {{data.endDate | date:'yyyy-MM-dd'}}</td>
          <td>{{ data.workQuantity }}</td>
          <td>{{ data.statusName }}</td>
          <td>{{ data.note }}</td>
          <td>{{ data.operatorName }}</td>
          <td>{{ data.operateTime | date:'yyyy-MM-dd' }}</td>
          <td>
            <a
              nz-popconfirm
              nzPopconfirmTitle="确定删除该记录?"
              [nzPopconfirmTrigger]="'click'"
              (click)="$event.stopPropagation()"
              (nzOnConfirm)="delete(data.settleId);"
            >删除</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </nz-content>
  <nz-drawer [nzTitle]="'客户结算筛选'" [nzVisible]="visible" [nzWidth]="300" [nzClosable]="true"
             (nzOnClose)="closeDrawer()">
    <form nz-form [formGroup]="searchForm" (change)="querySettleCustom(this.getParams(), false)">
      <nz-form-item>
        <nz-form-label>客户名称</nz-form-label>
        <nz-form-control>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="请选择客户"
            formControlName="customCorp"
            style="width: 200px;"
            (ngModelChange)="querySettleCustom(this.getParams(), false)"
          >
            <nz-option *ngFor="let custom of customList" [nzLabel]="custom.demanderCorpName" [nzValue]="custom.demanderCorp"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-drawer>
</nz-layout>
