<form nz-form [formGroup]="validateForm">
  <nz-spin [nzSpinning]="spinning">
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>clientId</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input formControlName="clientId" [disabled]="true">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">clientSecret</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="clientSecretErrorTpl">
        <input nz-input type="password" formControlName="clientSecret" placeholder="不填写则为不需要修改">
        <ng-template #clientSecretErrorTpl let-control>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">redirectUri</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="redirectUriErrorTpl">
        <input nz-input formControlName="webServerRedirectUri">
        <ng-template #redirectUriErrorTpl let-control>
            URL格式不对！
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </nz-spin>
</form>
<div *nzModalFooter>
  <button nz-button type="button" (click)="destroyModal()" class="button-modal-cancel">取消</button>
  <button nz-button nzType="primary" (click)="submitForm()" [disabled]="!validateForm.valid"
          class="button-modal-submit">提交
  </button>
</div>

