<my-pro-page-header-wrapper>
  <nz-card [nzBordered]="false">
    <!-----------------------------------工单列表-------------------------------------------------->
    <div style="margin: 2px 0 10px 0">
      <button nz-button nzShape="round" (click)="openDrawer()" class="img-filtrate">筛选</button>
    </div>
    <ng-template #totalTemplate let-total> 共 {{ total }} 条</ng-template>
    <nz-table nzShowSizeChanger [nzPageSizeOptions]="userService.pageSizeOptions"
              nzBordered
              style="padding-top: 20px;"
              [nzFrontPagination]="false"
              [nzData]="workList"
              [nzLoading]="loading"
              [nzTotal]="page.total"
              [(nzPageIndex)]="page.pageNum"
              [(nzPageSize)]="page.pageSize"
              [nzShowTotal]="totalTemplate"
              (nzPageIndexChange)="queryWork(false, true)"
              (nzPageSizeChange)="queryWork(true, true)"
              [nzScroll]="{ x : '2470px'}">
      <thead>
      <tr>
        <th nzWidth="50px" nzLeft="0px">序号</th>
        <th nzWidth="100px" nzLeft="50px">工单状态</th>
        <th nzWidth="150px" nzLeft="150px">工单编号</th>
        <th nzWidth="80px">省</th>
        <th nzWidth="100px">市</th>
        <th nzWidth="180px">客户名称</th>
        <th nzWidth="150px">设备类型</th>
        <th nzWidth="120px">品牌</th>
        <th nzWidth="150px">型号</th>
        <th nzWidth="120px">出厂序列号</th>
        <th nzWidth="120px">终端号</th>
        <th nzWidth="130px">服务网点</th>
        <th nzWidth="120px">交通工具</th>
        <th nzWidth="100px">工单类型</th>
        <th nzWidth="100px">工程师</th>
        <th nzWidth="150px">创建时间</th>
        <th nzWidth="150px">预约时间</th>
        <th nzWidth="150px">到达时间</th>
        <th nzWidth="150px">关闭时间</th>
        <th nzWidth="100px">工单来源</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of workList;let i = index;"
          (dblclick)="toWorkDetail(data.caseId)">
        <td nzLeft="0px">{{page.getNo(i)}}</td>
        <td nzLeft="50px">
          <button nz-button class="button-status" [ngStyle]="data.buttonColor"
                  (click)="toWorkDetail(data.caseId)">{{ data.workStatusName}}</button>
        </td>
        <td nzLeft="150px"><a
          (click)="toWorkDetail(data.caseId)">{{data.caseId}}</a>
        </td>
        <td nzAlign="left">{{data.provinceName}}</td>
        <td nzAlign="left">{{data.cityName}}</td>
        <td nzAlign="left" nzBreakWord="false">{{data.customCorpName}}</td>
        <td nzBreakWord="false">{{data.smallClassName}}</td>
        <td>{{data.brandName}}</td>
        <td>{{data.modelName}}</td>
        <td>{{data.serial}}</td>
        <td>{{data.terminalNO}}</td>
        <td>{{data.serviceBranchName}}</td>
        <td>{{data.trafficName}}</td>
        <td>{{data.workTypeName}}</td>
        <td>{{data.engineerName}}</td>
        <td>{{data.createTime | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{data.bookTime}}</td>
        <td>{{data.signTime | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{data.finishTime | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{data.sourceName}}</td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
  <!-----------------------------------工单列表查询条件抽屉-------------------------------------------------->
  <ng-template #filterTitle>
    <img src="assets/go-back.svg" (click)="closeDrawer()" style="padding-right: 20px;">
    <span style="font-size: 16px;font-weight: bold;">工单筛选</span>
  </ng-template>

  <nz-drawer [nzTitle]="filterTitle" [nzVisible]="visible" [nzWidth]="360" [nzClosable]="false"
             (nzOnClose)="closeDrawer()"
             [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }">
    <form nz-form [formGroup]="searchForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="8">创建时间</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-range-picker formControlName="createTime" [nzFormat]="'yyyy-MM-dd'"
                           [(ngModel)]="params.createTime"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">工单编号</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input nz-input formControlName="caseId" [(ngModel)]="params.caseId" placeholder="请输入工单号"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">工单类型</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-select [nzAllowClear]="true" formControlName="workTypes" [(ngModel)]="params.workTypes" nzShowSearch
                     nzAllowClear
                     nzPlaceHolder="请选择工单类型">
            <nz-option *ngFor="let option of optionList.workTypeOption" [nzValue]="option.name"
                       [nzLabel]="option.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">工单状态</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-select [nzAllowClear]="true" formControlName="workStatuses" [(ngModel)]="params.workStatuses" nzShowSearch
                     nzPlaceHolder="请选择工单状态">
            <nz-option *ngFor="let option of optionList.workStatusOption" [nzValue]="option.name"
                       [nzLabel]="option.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">省份</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-select [nzAllowClear]="true" formControlName="provinceName" [(ngModel)]="params.provinceName" nzShowSearch
                     nzPlaceHolder="请选择省份">
            <nz-option *ngFor="let item of optionList.provinceOption | keyvalue" [nzValue]="item.value"
                       [nzLabel]="item.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">客户名称</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-select [nzAllowClear]="true" formControlName="customCorpName" [(ngModel)]="params.customCorpName"
                     nzShowSearch nzPlaceHolder="请输入客户名称">
            <nz-option *ngFor="let item of optionList.customCorpOption | keyvalue" [nzValue]="item.value"
                       [nzLabel]="item.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">服务网点</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-select [nzAllowClear]="true" formControlName="serviceBranches" [(ngModel)]="params.serviceBranches"
                     nzShowSearch nzPlaceHolder="请输入服务网点">
            <nz-option *ngFor="let item of optionList.serviceBranchOption | keyvalue" [nzValue]="item.value"
                       [nzLabel]="item.value">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">出厂序列号</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input nz-input formControlName="machineCode" [(ngModel)]="params.machineCode" placeholder="请输入出厂序列号"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">品牌</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-select [nzAllowClear]="true" formControlName="deviceBrandName" [(ngModel)]="params.deviceBrandName"
                     nzShowSearch nzPlaceHolder="请输入品牌">
            <nz-option *ngFor="let item of optionList.deviceBrandOption | keyvalue" [nzValue]="item.key"
                       [nzLabel]="item.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">型号</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-select [nzAllowClear]="true" formControlName="deviceModelName" [(ngModel)]="params.deviceModelName"
                     nzShowSearch nzPlaceHolder="请输入型号">
            <nz-option *ngFor="let item of optionList.deviceModelOption | keyvalue" [nzValue]="item.value"
                       [nzLabel]="item.value">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">预计出发时间</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-range-picker formControlName="ycTime" [nzFormat]="'yyyy-MM-dd'"
                           [(ngModel)]="params.ycTime"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">关闭时间</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-range-picker formControlName="finishTime" [nzFormat]="'yyyy-MM-dd'"
                           [(ngModel)]="params.finishTime"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div class="footer">
      <button nz-button (click)="clearDrawer()" class="ant-btn" style="margin-right: 10px;" *ngIf="false">清空筛选
      </button>
      <button (click)="closeDrawer();queryWork(true, false);" nz-button nzType="primary">确定</button>
    </div>
  </nz-drawer>
</my-pro-page-header-wrapper>





