<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjft.usp.wms.business.trans.mapper.TransMainCommonSaveMapper">

    <select id="queryByPage" resultType="com.zjft.usp.wms.business.trans.dto.TransWareCommonDto">
        select * from trans_m_common_save where 1 = 1 and save_status = 10
        <if test="curUserId != null and curUserId > 0L">
            and create_by = #{curUserId}
        </if>
        <if test="corpId != null and corpId > 0L">
            and corp_id = #{corpId}
        </if>
    </select>

</mapper>
