<form nz-form [formGroup]="flowTypeForm">

  <nz-spin [nzSpinning]="spinning">
    <nz-form-item nz-row>
      <nz-form-label [nzSpan]="8" nzRequired>流程类型</nz-form-label>
      <nz-form-control [nzSpan]="10" nzHasFeedback>
        <nz-select
          style="width: 200px;"
          nzAllowClear
          nzPlaceHolder="请选择流程类型"
          formControlName="largeClassId"
          (ngModelChange)="largeClassChange($event)"
        >
          <nz-option *ngFor="let data of ClassOptions.largeClass" [nzLabel]="data.text" [nzValue]="data.value"> </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

  <nz-form-item nz-row>
      <nz-form-label [nzSpan]="8" nzRequired>流程子类型</nz-form-label>
      <nz-form-control [nzSpan]="10" nzHasFeedback>
        <nz-select
          style="width: 200px;"
          nzAllowClear
          nzPlaceHolder="请选择流程子类型"
          formControlName="smallClassId"
          (ngModelChange)="smallClassChange($event)"
        >
          <nz-option *ngFor="let data of ClassOptions.smallClass" [nzLabel]="data.text" [nzValue]="data.value"> </nz-option>
        </nz-select>
      </nz-form-control>
  </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label [nzSpan]="8" nzRequired>模板名称</nz-form-label>
      <nz-form-control [nzSpan]="10" nzHasFeedback>
        <input nz-input formControlName="name" placeholder="请输入流程模板名称" style="width: 200px;"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="8">顺序号</nz-form-label>
      <nz-form-control [nzSpan]="10" nzHasFeedback>
        <nz-input-number
          [nzMin]="1"
          [nzMax]="1000000"
          [nzStep]="1"
          formControlName="sortNo"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="8">是否可用</nz-form-label>
      <nz-form-control [nzSpan]="10" nzHasFeedback>
        <nz-radio-group formControlName="enabled">
          <label nz-radio nzValue="Y">是</label>
          <label nz-radio nzValue="N">否</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label [nzSpan]="8">描述</nz-form-label>
      <nz-form-control [nzSpan]="10" nzHasFeedback>
        <input nz-input formControlName="description" placeholder="请输入描述" style="width: 200px;"/>
      </nz-form-control>
    </nz-form-item>
  </nz-spin>
</form>
