<nz-descriptions style="background-color: #FFFFFF">
  <nz-descriptions-item nzTitle="网点名称">{{settleBranch.branchName}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="结算周期">{{settleBranch.startDate | date:'yyyy-MM-dd' }} ~ {{settleBranch.endDate | date:'yyyy-MM-dd'}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="结算人员">{{settleBranch.operatorName}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="结算时间">{{settleBranch.operateTime | date:'yyyy-MM-dd' }}</nz-descriptions-item>
</nz-descriptions>
<nz-table
  nzShowSizeChanger
  nzBordered
  [nzFrontPagination]="false"
  [nzData]="settleBranchDetailList"
  [nzLoading]="loading"
  [nzTotal]="total"
  [(nzPageIndex)]="pageNum"
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="querySettleBranchDetail()"
  (nzPageSizeChange)="querySettleBranchDetail()">
  <thead>
    <tr>
      <th>序号</th>
      <th>工单编号</th>
      <th>客户名称</th>
      <th>工单类型</th>
      <th>在保状态</th>
      <th>创建日期</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of settleBranchDetailList;let index = index">
      <td nzAlign="center">{{ (pageNum - 1) * pageSize + index + 1 }}</td>
      <td>{{ data.workCode }}</td>
      <td>{{ data.customCorpName}}</td>
      <td>{{ data.workTypeName }}</td>
      <td>{{ data.warrantyName }}</td>
      <td>{{ data.createTime | date:'yyyy-MM-dd' }}</td>
    </tr>
  </tbody>
</nz-table>

