<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjft.usp.uas.user.mapper.UserAlipayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="UserAlipayResultMap" type="com.zjft.usp.uas.user.model.UserAlipay">
        <id column="alipayuserid" property="alipayUserId"/>
        <result column="alipaylogonid" property="alipayLogonId"/>
        <result column="userid" property="userId"/>
        <result column="addtime" property="addTime"/>
    </resultMap>

    <insert id="alipayBind" parameterType="com.zjft.usp.uas.user.model.UserAlipay">
        insert into uas_user_alipay(alipayuserid,alipaylogonid,userid,addtime)
        values (#{alipayUserId}, #{alipayLogonId},#{userId},#{addTime,jdbcType=TIMESTAMP})
    </insert>
</mapper>