<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjft.usp.uas.user.mapper.UserAppMapper">
  <resultMap id="BaseResultMap" type="com.zjft.usp.uas.user.model.UserApp">
    <id column="userid" jdbcType="BIGINT" property="userId" />
    <result column="appid" jdbcType="INTEGER" property="appId" />
    <result column="clientid" jdbcType="VARCHAR" property="clientId" />
    <result column="regtime" jdbcType="TIMESTAMP" property="regTime" />
  </resultMap>
</mapper>