<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)" >
  <nz-spin [nzSpinning]="spinning">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">服务网点</nz-form-label>
      <nz-form-control [nzSpan]="18" nzHasFeedback [nzErrorTip]="">
        <nz-select
          formControlName="serviceBranch"
          nzAllowClear
          nzShowSearch
          nzServerSearch
          [nzFilterOption]="nzFilterOption"
          (nzOnSearch)="matchServiceBranch($event)"
          (ngModelChange)="branchChange($event)"
          nzPlaceHolder="请选择服务网点">
          <nz-option *ngFor="let data of branchList" [nzLabel]="data.branchName" [nzValue]="data.branchId"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">服务主管</nz-form-label>
      <nz-form-control [nzSpan]="18" nzHasFeedback>
        <nz-select
          formControlName="workManager"
          nzAllowClear
          nzShowSearch
          nzServerSearch
          [nzFilterOption]="nzFilterOption"
          (nzOnSearch)="matchUser($event)"
          nzPlaceHolder="请选择服务主管">
          <nz-option *ngFor="let data of userInfoList" [nzLabel]="data.userName" [nzValue]="data.userId"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">服务工程师</nz-form-label>
      <nz-form-control [nzSpan]="18" nzHasFeedback>
        <nz-select
          formControlName="engineer"
          nzAllowClear
          nzShowSearch
          nzServerSearch
          [nzFilterOption]="nzFilterOption"
          (nzOnSearch)="matchUser($event)"
          nzPlaceHolder="请选择服务工程师">
          <nz-option *ngFor="let data of userInfoList" [nzLabel]="data.userName" [nzValue]="data.userId"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">服务说明</nz-form-label>
      <nz-form-control [nzSpan]="18" nzHasFeedback [nzErrorTip]="noteErrorTpl">
        <textarea nz-input formControlName="serviceNote" maxlength="200"  placeholder="请输入描述"
                  [nzAutosize]="{minRows: 2,maxRows: 5}"></textarea>
        <ng-template #noteErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            不能超过200个字符！
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </nz-spin>
</form>
<div *nzModalFooter>
  <button nz-button type="button" (click)="destroyModal()" class="button-modal-cancel">取消</button>
  <button nz-button nzType="primary" (click)="submitForm(validateForm.value)" [disabled]="!validateForm.valid"
          class="button-modal-submit">提交
  </button>
</div>
