<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">

  <nz-spin [nzSpinning]="spinning">
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>列表名称</nz-form-label>
    <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="nameErrorTpl">
      <input nz-input formControlName="name" maxlength="100" style="width: 400px;" placeholder="请输入列表名称" />
      <ng-template #nameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          请输入列表名称！
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="10" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">提交</button>&nbsp;
      <button nz-button type="button" (click)="destroyModal()">取消</button>
    </nz-form-control>
  </nz-form-item>

  </nz-spin>
</form>
