<div class="container">
  <div class="content">
    <div class="top">
      <div class="header">
        <a routerLink="/">
          <img alt="logo" class="logo" [src]="settingService.settings.logo">
          <img alt="anyfix" class="title" src="assets/anyfix.svg">
          <span class="title"></span>
        </a>
      </div>
      <div class="desc">紫金新一代云服务平台</div>
    </div>
    <router-outlet></router-outlet>
  </div>

  <nz-footer class="footer_copy" style="background: transparent;text-align: center;width: 100%;">
    <pro-global-footer [copyright]="copyRightTemplate"></pro-global-footer>
  </nz-footer>
</div>

<ng-template #copyRightTemplate>
  <ng-container>
    <a class="link-item" target="_blank"
       *ngFor="let item of protocolList" [href]="url+item.url+'?updateDate='+item.updateDate" >{{item.name}}</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a class="app-link-item" nz-popover [nzPopoverPlacement]="'top'" [nzPopoverContent]="downloadTemplate">客户端下载</a>
    <ng-template #downloadTemplate>
      <img src="assets/user/app-download.png" style="width: 140px;height: 140px">
    </ng-template>
    <nz-divider nzType="vertical"></nz-divider>
    <span class="copy-right">Copyright <i nz-icon nzType="copyright"></i> {{footer.copyright}}</span>
  </ng-container>
</ng-template>
