<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
  <nz-spin [nzSpinning]="spinning">

    <nz-form-item *ngIf="isServiceProvider">
      <nz-form-label [nzSpan]="4" nzFor="demanderCorp" nzRequired>委托商</nz-form-label>
      <nz-form-control [nzSpan]="16" [nzErrorTip]="demanderCorpErrorTpl">
        <nz-select
          nzShowSearch
          style="width: 400px;"
          formControlName="demanderCorp"
          nzAllowClear="true"
          [nzFilterOption]="nzFilterOption"
          (ngModelChange)="demanderCorpChange($event)"
          nzPlaceHolder="请输入委托商"
        >
          <nz-option *ngFor="let demanderCorp of demanderCorpOptions" [nzValue]="demanderCorp.demanderCorp"
                     [nzLabel]="demanderCorp.demanderCorpName"></nz-option>
        </nz-select>
        <ng-template #demanderCorpErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            请选择客户名称！
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>客户名称</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="customCorpErrorTpl">
        <nz-select nzShowSearch nzAllowClear formControlName="demanderCustom"
                   (ngModelChange)="customCorpChange()"
                   style="width: 400px;" nzPlaceHolder="请选择客户名称">
          <nz-option *ngFor="let corp of customCorpList" [nzValue]="corp"
                     [nzLabel]="corp.customCorpName"></nz-option>
        </nz-select>
        <ng-template #customCorpErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            请选择客户名称！
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>网点名称</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="nameErrorTpl">
        <input nz-input formControlName="branchName" maxlength="100" style="width: 400px;" placeholder="请输入网点名称"/>
        <ng-template #nameErrorTpl let-control>
          <ng-container *ngIf="control.hasError">
            {{control.errors?.explain}}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4">上级网点</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="upperBranchErrorTpl">
        <nz-select
          style="width: 400px;"
          nzShowSearch
          nzServerSearch
          nzAllowClear
          nzPlaceHolder="请选择上级网点"
          (nzOnSearch)="matchDeviceBranch($event)"
          formControlName="upperBranchId">
          <nz-option *ngFor="let o of upperBranchList" [nzLabel]="o.branchName" [nzValue]="o.branchId"></nz-option>
        </nz-select>
        <ng-template #upperBranchErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            请选择上级网点！
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>行政区划</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="areaErrorTpl">
        <nz-cascader
          style="width: 400px;"
          nzAllowClear
          [nzExpandTrigger]="'click'"
          [nzOptions]="areaList" [nzShowSearch]="ZorroUtils.showSearchOptions"
          (ngModelChange)="onChanges($event)"
          formControlName="area">
        </nz-cascader>
        <ng-template #areaErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            请选择行政区划！
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>详细地址</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="addressErrorTpl">
        <textarea rows="3" nz-input formControlName="address" maxlength="100" style="width: 400px;"
                  placeholder="请输入详细地址"></textarea>
        <i nz-icon nzType="environment" nzTheme="twotone" (click)="openMap()"></i>
        <ng-template #addressErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            请输入详细地址！
          </ng-container>
          <ng-container *ngIf="control.hasError('maxlength')">
            不能超过100个字符！
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4">网点电话</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="branchPhoneErrorTpl">
        <input nz-input formControlName="branchPhone" maxlength="100" style="width: 400px;" placeholder="请输入网点电话"/>
        <ng-template #branchPhoneErrorTpl let-control>
          <ng-container *ngIf="control.hasError('maxlength')">
            不能超过100个字符！
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>联系人</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="contactOptionErrorTpl">
        <nz-select
          style="width: 400px;"
          nzShowSearch
          nzServerSearch
          nzAllowClear
          nzPlaceHolder="请选择联系人"
          [nzFilterOption]="nzFilterOption"
          (nzOnSearch)="matchCorpUser($event)"
          formControlName="contactOption"
          (ngModelChange)="changeContact($event)">
          <nz-option *ngFor="let o of contactUserList" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
        </nz-select>
        <ng-template #contactOptionErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            请选择联系人！
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>联系人电话</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="contactPhoneErrorTpl">
        <input nz-input formControlName="contactPhone" maxlength="100" style="width: 400px;" placeholder="请输入联系人电话"/>
        <ng-template #contactPhoneErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            请输入联系人电话！
          </ng-container>
          <ng-container *ngIf="control.hasError('maxlength')">
            不能超过100个字符！
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4">描述</nz-form-label>
      <nz-form-control nzValidateStatus="false" [nzSpan]="16" nzHasFeedback [nzErrorTip]="descriptionErrorTpl">
      <textarea rows="3" nz-input formControlName="description" maxlength="200" style="width: 400px;"
                placeholder="请输入描述"></textarea>
        <ng-template #descriptionErrorTpl let-control>
          <ng-container *ngIf="control.hasError('maxlength')">
            不能超过200个字符！
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <text-area-word-number currentNumber="{{validateForm.value.description.length}}"
                           totalCount="200" ></text-area-word-number>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">是否可用</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-switch formControlName="enabled" nzCheckedChildren="是" nzUnCheckedChildren="否"></nz-switch>
      </nz-form-control>
    </nz-form-item>
  </nz-spin>
</form>
<div *nzModalFooter>
  <button nz-button type="button" (click)="destroyModal()" class="button-modal-cancel">取消</button>
  <button nz-button nzType="primary"  (click)="submitForm(validateForm.value)" [disabled]="!validateForm.valid" class="button-modal-submit" >提交</button>
</div>

