<nz-layout>
  <nz-content>
    <nz-card [nzBordered]="false">
      <button nz-button nzType="primary" style="margin-bottom: 16px" (click)="addWareHouse()">
        <i nz-icon nzType="plus"></i>
        <span>新建</span>
      </button>
      &nbsp;
      <button nz-button (click)="queryWareHouse();">
        <i nz-icon nzType="reload" nzTheme="outline"></i>
        <span>刷新</span>
      </button>
      <!--<button nz-button nzType="primary" style="margin-bottom: 16px" (click)="openDrawer()">筛选</button>
      &nbsp;
      <button nz-button (click)="clearForm();queryWareHouse();">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
        <span>清空筛选</span>
      </button>-->

      <nz-table #table
                nzShowSizeChanger
                nzBordered
                [nzFrontPagination]="false"
                [nzData]="wareHouseList"
                [nzLoading]="loading"
                [nzTotal]="page.total"
                [(nzPageIndex)]="page.pageNum"
                [(nzPageSize)]="page.pageSize"
                (nzPageIndexChange)="queryWareHouse(false)"
                (nzPageSizeChange)="queryWareHouse(true)">
        <thead>
        <tr>
          <th>库房名称</th>
          <th>库房类别</th>
          <th>负责人</th>
          <th>是否可用</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let data of table.data">
          <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
            <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
              <td
                nzAlign="left"
                [nzIndentSize]="item.level * 20"
                [nzShowExpand]="!!item.children"
                [(nzExpand)]="item.expand"
                (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
              >{{ item.name }}</td>
              <td>{{ item.type }}</td>
              <td>{{ item.userNames }}</td>
              <td>{{ item.enabled }}</td>
              <td>
                <a (click)="editWareHouse(item)">编辑</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="confirmDelete(item.id)">删除</a>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        </tbody>
      </nz-table>
    </nz-card>
  </nz-content>

  <ng-template #filterTitle>
    <img src="assets/go-back.svg" (click)="closeDrawer()" style="padding-right: 20px;">
    <span style="font-size: 16px;font-weight: bold;">库房筛选</span>
  </ng-template>
  <nz-drawer [nzTitle]="filterTitle" [nzVisible]="drawerVisible" [nzWidth]="360" [nzClosable]="false"
             (nzOnClose)="closeDrawer()"
             [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }">
    <form nz-form name="form" [formGroup]="searchForm" (ngSubmit)="queryWareHouse()">
      <nz-form-item>
        <nz-form-label nzMd="8" nzXs="24">库房名称</nz-form-label>
        <nz-form-control nzMd="16" nzXs="24">
          <input nz-input>
        </nz-form-control>
      </nz-form-item>
      <div>
        <button nz-button class="ant-btn" (click)="clearForm()">清空筛选</button>
        &nbsp;
        <button nz-button nzType="primary">查询</button>
      </div>
    </form>
  </nz-drawer>
</nz-layout>
