<nz-layout>
  <nz-content>
    <nz-card [nzBordered]="false">

      <div class="edit-button-div">
        <!--<i  nz-icon nzType="plus-circle" nzTheme="outline" class="icon-add" (click)="add()" nz-tooltip
            nzTooltipTitle="新建" [acl]="{ability: [aclRight.ASSIGN_MODE_ADD]}"></i>
        <i nz-icon nzType="anyfix:filtrate" nzTheme="outline" class="img-filtrate" (click)="openDrawer()" nz-tooltip
           nzTooltipTitle="筛选"></i>-->
        <button nz-button  class="icon-add" nzShape="round"  (click)="add()" [acl]="{ability: [aclRight.ASSIGN_MODE_ADD]}">新建</button>
        <button nz-button  class="img-filtrate" nzShape="round"  (click)="openDrawer()">筛选</button>
      </div>
      <nz-table #headerTable
                nzShowSizeChanger
                nzBordered
                [nzFrontPagination]="false"
                [nzData]="assignModeList"
                [nzLoading]="loading"
                [nzTotal]="page.total"
                [(nzPageIndex)]="page.pageNum"
                [(nzPageSize)]="page.pageSize"
                (nzPageIndexChange)="query()"
                (nzPageSizeChange)="query(true)">
        <thead>
        <tr>
          <th nzWidth="50px">序号</th>
          <th nzWidth="150px">委托商</th>
          <th nzWidth="100px">自动派单模式</th>
          <th nzWidth="100px">人工派单模式</th>
          <th nzWidth="150px">工单类型</th>
          <th nzWidth="150px">大类</th>
          <th nzWidth="150px">设备类型</th>
          <th nzWidth="150px">品牌</th>
          <th nzWidth="150px">型号</th>
          <th nzWidth="150px">行政区划</th>
          <th nzWidth="150px">设备网点</th>
          <th nzWidth="150px">规则</th>
          <th nzWidth="100px" [acl]="{ability: [aclRight.ASSIGN_MODE_MOD, aclRight.ASSIGN_MODE_DEL]}">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of headerTable.data;let i = index">
          <td>{{i + 1}}</td>
          <td><span style="display: block">{{ data.demanderCorpName }}</span></td>
          <td><span style="display: block">{{ autoModeMap[data.autoMode] }}</span></td>
          <td><span style="display: block">{{ manualModeMap[data.manualMode] }}</span></td>
          <td>{{ data.workTypeName }}</td>
          <td>{{ data.largeClassName }}</td>
          <td>{{ data.smallClassName }}</td>
          <td>{{ data.brandName }}</td>
          <td>{{ data.modelName }}</td>
          <td>{{ data.districtName }}</td>
          <td>{{ data.deviceBranchName }}</td>
          <td>
            <span *ngIf="data.autoMode == 20">{{ autoModeMap[data.autoMode] }}</span>
            <span *ngIf="data.autoMode == 30">{{ autoModeMap[data.autoMode] }}</span>
            <span *ngIf="data.autoMode == 30">小组成员:{{ data.userNameList }}</span>
            <span *ngIf="data.autoMode == 40">{{ autoModeMap[data.autoMode] }}</span>
            <span *ngIf="data.autoMode == 40">最大半径:{{ data.distance }}(米)</span>
            <span *ngIf="data.autoMode == 50">{{ autoModeMap[data.autoMode] }}</span>
          </td>
          <td  nowrap [acl]="{ability: [aclRight.ASSIGN_MODE_MOD, aclRight.ASSIGN_MODE_DEL]}">
            <a [acl]="{ability: [aclRight.ASSIGN_MODE_MOD]}" (click)="mod(data)">编辑</a>
            <nz-divider [acl]="{ability: [aclRight.ASSIGN_MODE_MOD, aclRight.ASSIGN_MODE_DEL], mode: 'allOf'}"
                        nzType="vertical"></nz-divider>
            <a [acl]="{ability: [aclRight.ASSIGN_MODE_DEL]}" (click)="showDeleteConfirm(data.id);">删除</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </nz-content>
  <nz-drawer nzTitle="自动派单模式筛选" [nzVisible]="drawerVisible" nzWidth="400px" (nzOnClose)="closeDrawer()"
             [nzClosable]="'true'">
    <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm">
      <nz-form-item>
        <nz-form-label nzFor="customCorp">委托商</nz-form-label>
        <nz-form-control>
          <nz-select
            formControlName="demanderCorp"
            style="width: 300px;"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="请选择委托商"
            (nzFocus)="searchDemanderCorp()">
            <nz-option *ngFor="let o of demanderCorpOption" [nzLabel]="o.demanderCorpName"
                       [nzValue]="o.demanderCorp"></nz-option>
            <nz-option *ngIf="demanderCorpOptionLoading" nzDisabled nzCustomContent>
              <i nz-icon nzType="loading" class="loading-icon"></i> 加载数据中
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="customCorp">行政区划</nz-form-label>
        <nz-form-control>
          <nz-cascader
            formControlName="district"
            style="width: 300px;"
            [nzExpandTrigger]="'click'"
            [nzChangeOnSelect]="true"
            [nzShowSearch]="ZorroUtils.showSearchOptions"
            nzAllowClear
            nzPlaceHolder="省/市/区"
            [nzOptions]="areaOption"
            >
          </nz-cascader >
        </nz-form-control>
      </nz-form-item>

      <div style="text-align: right;margin-top: 40px">
        <button class="ant-btn" style="margin-left: 8px;margin-right: 10px;" nz-button (click)="clearDrawer();"><span>清空筛选</span>
        </button>
        <button nz-button [nzType]="'primary'" (click)="useFormValue=true;closeDrawer();query(true)">查询</button>
      </div>
    </form>
  </nz-drawer>
</nz-layout>
