<nz-page-header [nzBackIcon]="backIcon">
  <nz-page-header-title>批量收货</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary" nzShape="round" (click)="goBack()">返回</button>
    <button nz-button nzType="primary" nzShape="round" (click)="goBack()">确认收货</button>
  </nz-page-header-extra>
</nz-page-header>

<ng-template #backIcon>
  <img src="assets/go-back.svg" style="padding-right: 10px;">
</ng-template>

<nz-layout>
  <nz-sider [nzWidth]="320">
    <nz-card style="width:320px;"[nzBordered]="false">
      <div class="div-row" nz-row>
        <div nz-col class="label-item" nzSpan="10">发货地点：</div>
        <div nz-col nzSpan="16"></div>
      </div>
      <div class="div-row" nz-row>
        <div nz-col class="label-item" nzSpan="10">收货地点：</div>
        <div nz-col nzSpan="16">{{work.customCorpName}}</div>
      </div>
      <div class="div-row" nz-row>
        <div nz-col class="label-item" nzSpan="10">发货单号：</div>
        <div nz-col nzSpan="16">{{work.deviceBranchName}}</div>
      </div>
      <div class="div-row" class="div-row" nz-row>
        <div nz-col class="label-item" nzSpan="10">申请时间：</div>
        <div nz-col nzSpan="16">{{work.contactName}}</div>
      </div>
      <div class="div-row" class="div-row" nz-row>
        <div nz-col class="label-item" nzSpan="10">运送方式：</div>
        <div nz-col nzSpan="16">{{work.contactName}}</div>
      </div>
      <div class="div-row" nz-row>
        <div nz-col class="label-item" nzSpan="10">快递公司：</div>
        <div nz-col nzSpan="16">{{work.address}}</div>
      </div>
      <div class="div-row" nz-row>
        <div nz-col class="label-item" nzSpan="10">总箱数：</div>
        <div nz-col nzSpan="16">{{work.address}}</div>
      </div>
      <div class="div-row" nz-row>
        <div nz-col class="label-item" nzSpan="10">快递单号：</div>
        <div nz-col nzSpan="16">{{work.address}}</div>
      </div>
      <div class="div-row" nz-row>
        <div nz-col class="label-item" nzSpan="10">发货时间：</div>
        <div nz-col nzSpan="16">{{work.address}}</div>
      </div>
      <div class="div-row" nz-row>
        <div nz-col class="label-item" nzSpan="10">发货人：</div>
        <div nz-col nzSpan="10">{{work.address}}</div>
      </div>
      <div class="div-row" nz-row>
        <div nz-col class="label-item" nzSpan="10">发货联系方式：</div>
        <div nz-col nzSpan="10">{{work.address}}</div>
      </div>
      <div class="div-row" nz-row>
        <div nz-col class="label-item" nzSpan="10">收货联系方式：</div>
        <div nz-col nzSpan="10">{{work.address}}</div>
      </div>
    </nz-card>
  </nz-sider>


  <nz-content>
    <nz-card style="width: 100%;height: 100%;border-top: 0;border-bottom: 0;border-right: 0;">
      <nz-tabset>
        <nz-tab nzTitle="发货备件" >
          <nz-table #editRowTable  [nzData]="receiveDeliveryList">
            <thead>
            <tr>
              <th>物料名称</th>
              <th>规格</th>
              <th>型号</th>
              <th>物料编号</th>
              <th>一维码</th>
              <th>物料状态</th>
              <th>数量</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of receiveDeliveryList" class="editable-row">
              <td>{{ data.propertyName }}</td>
              <td>{{ data.normsName }}</td>
              <td>{{ data.modelName }}</td>
              <td>{{ data.propertyId }}</td>
              <td>{{ data.barcode }}</td>
              <td>{{ data.statusName }}</td>
              <td>{{data.count}}</td>
            </tr>
            </tbody>
          </nz-table>
        </nz-tab>

        <nz-tab nzTitle="发货备件清单" >
          <nz-table #editRowTable  [nzData]="receiveDeliveryList">
            <thead>
            <tr>
              <th
                nzShowCheckbox
                [(nzChecked)]="isAllDisplayDataChecked"
                [nzIndeterminate]="isIndeterminate"
                (nzCheckedChange)="checkAll($event)"
              >全选</th>
              <th>此单分箱号</th>
              <th>备件</th>
              <th>品牌</th>
              <th>型号</th>
              <th>规格</th>
              <th>备件状态</th>
              <th>单价(元)</th>
              <th>在保状态</th>
              <th>维保到期日</th>
              <th>厂商序列号</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of receiveDeliveryList" class="editable-row">
              <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]"
                  (nzCheckedChange)="refreshStatus()"   ></td>
              <td>{{ data.propertyName }}</td>
              <td>{{ data.normsName }}</td>
              <td>{{ data.modelName }}</td>
              <td>{{ data.propertyId }}</td>
              <td>{{ data.barcode }}</td>
              <td>{{ data.statusName }}</td>
              <td>{{data.count}}</td>
            </tr>
            </tbody>
          </nz-table>
        </nz-tab>

        <nz-tab>
          <input nz-input />
        </nz-tab>
      </nz-tabset>


    </nz-card>
  </nz-content>


</nz-layout>
