<nz-layout>
  <nz-content>
    <nz-card [nzBordered]="false">
      <div class="edit-button-div">
        <!--<i  nz-icon nzType="plus-circle" nzTheme="outline" class="icon-add" (click)="addModal()" nz-tooltip
            nzTooltipTitle="新建" [acl]="{ability: [aclRight.CUSTOM_REASON_ADD]}"></i>
        <i nz-icon nzType="anyfix:filtrate" nzTheme="outline" class="img-filtrate" (click)="openDrawer()" nz-tooltip
           nzTooltipTitle="筛选"></i>-->
        <button nz-button class="icon-add" nzShape="round" (click)="addModal()"
                [acl]="{ability: [aclRight.CUSTOM_REASON_ADD]}">新建
        </button>
        <button nz-button class="img-filtrate" nzShape="round" (click)="openDrawer()">筛选</button>
      </div>
      <nz-table #headerTable
                nzShowSizeChanger
                nzBordered
                [nzFrontPagination]="false"
                [nzData]="list"
                [nzLoading]="loading"
                [nzTotal]="page.total"
                [(nzPageIndex)]="page.pageNum"
                [(nzPageSize)]="page.pageSize"
                (nzPageIndexChange)="queryReason()"
                (nzPageSizeChange)="queryReason(true)">
        <thead>
        <tr>
          <th nzWidth="50px">序号</th>
          <th>委托商</th>
          <th>原因名称</th>
          <th>详细描述</th>
          <th nzWidth="100px">是否可用</th>
          <th nzWidth="100px" [acl]="{ability: [aclRight.CUSTOM_REASON_MOD, aclRight.CUSTOM_REASON_DEL]}">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of headerTable.data;let index = index">
          <td>{{ page.getNo(index) }}</td>
          <td nzAlign="center">{{data.customCorpName}}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.description }}</td>
          <td *ngIf="data.enabled === 'Y'">是</td>
          <td *ngIf="data.enabled !== 'Y'"><span style="color: red">否</span></td>
          <td [acl]="{ability: [aclRight.CUSTOM_REASON_MOD, aclRight.CUSTOM_REASON_DEL]}">
            <a [acl]="{ability: [aclRight.CUSTOM_REASON_MOD]}" (click)="editModal(data)">编辑</a>
            <nz-divider [acl]="{ability: [aclRight.CUSTOM_REASON_MOD, aclRight.CUSTOM_REASON_DEL], mode: 'allOf'}"
                        nzType="vertical"></nz-divider>
            <a [acl]="{ability: [aclRight.CUSTOM_REASON_DEL]}" (click)="showDeleteConfirm(data.id);">删除</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </nz-content>
  <nz-drawer nzTitle="原因筛选" [nzVisible]="drawerVisible" nzWidth="300px" (nzOnClose)="closeDrawer()"
             [nzClosable]="'true'">
    <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm">
      <nz-form-item>
        <nz-form-label nzRequired>委托商</nz-form-label>
        <nz-form-control [nzErrorTip]="searchForm.controls.customCorp.errors?.explain">
          <nz-select nzShowSearch formControlName="customCorp" style="width: 250px;"
                     nzPlaceHolder="请选择委托商">
            <nz-option *ngFor="let demanderCorp of demanderCorpList" [nzValue]="demanderCorp.demanderCorp"
                       [nzLabel]="demanderCorp.demanderCorpName"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>原因名称</nz-form-label>
        <nz-form-control>
          <input nz-input style="width: 250px;" maxlength="50" formControlName="name" placeholder="请输入原因名称"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>是否可用</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear="true" style="width: 250px;" formControlName="enabled"
                     nzPlaceHolder="是/否">
            <nz-option nzLabel="是" nzValue="Y"></nz-option>
            <nz-option nzLabel="否" nzValue="N"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <div style="text-align: right;margin-top: 40px">
        <button class="ant-btn" style="margin-left: 8px;margin-right: 10px;" nz-button (click)="clearDrawer();"><span>清空筛选</span>
        </button>
        <button nz-button [nzType]="'primary'" (click)="closeDrawer();queryReason(true)">查询</button>
      </div>
    </form>
  </nz-drawer>
</nz-layout>
