<nz-layout>
  <nz-content>
    <nz-card>
      <button nz-button [nzType]="'primary'" style="margin-bottom: 16px" (click)="addSettleBranch()">
        <i nz-icon nzType="plus"></i>
        <span>新建</span>
      </button>
      &nbsp;
      <button nz-button [nzType]="'primary'" style="margin-bottom: 16px;" (click)="openDrawer()">
        <span>筛选</span>
      </button>
      &nbsp;
      <button nz-button style="background-color: white;border: 0;margin: 0;padding: 0;" (click)="clearDrawer()">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
        <label>清空筛选</label>
      </button>
      <nz-table
        nzShowSizeChanger
        nzBordered
        style="padding-top: 20px;"
        [nzFrontPagination]="false"
        [nzData]="settleBranchList"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageNum"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="querySettleBranch(getParams(), false)"
        (nzPageSizeChange)="querySettleBranch(getParams(), true)"
      >
        <thead nzSingleSort>
        <tr>
          <th style="width: 70px">序号</th>
          <th>网点名称</th>
          <th>结算周期</th>
          <th>结算工单总数</th>
          <th>结算单状态</th>
          <th>备注</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr (click)="showDetail(data)" *ngFor="let data of settleBranchList;let index = index">
          <td nzAlign="center">{{ (pageNum - 1) * pageSize + index + 1 }}</td>
          <td>{{ data.branchName }}</td>
          <td>{{ data.startDate | date:'yyyy-MM-dd' }} ~ {{data.endDate | date:'yyyy-MM-dd'}}</td>
          <td>{{ data.workQuantity }}</td>
          <td>{{ data.statusName }}</td>
          <td>{{ data.note }}</td>
          <td><a
            nz-popconfirm
            nzPopconfirmTitle="确定删除该记录?"
            [nzPopconfirmTrigger]="'click'"
            (click)="$event.stopPropagation()"
            (nzOnConfirm)="delete(data.settleId);"
          >删除</a></td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </nz-content>
  <nz-drawer [nzTitle]="'网点结算筛选'" [nzVisible]="visible" [nzWidth]="300" [nzClosable]="true"
             (nzOnClose)="closeDrawer()">
    <form nz-form [formGroup]="searchForm">
      <nz-form-item>
        <nz-form-label>网点名称</nz-form-label>
        <nz-form-control>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="请选择网点"
            formControlName="branchId"
            style="width: 200px;"
            (ngModelChange)="querySettleBranch(this.getParams(), false)"
          >
            <nz-option *ngFor="let branch of branchList" [nzLabel]="branch.branchName" [nzValue]="branch.branchId"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-drawer>
</nz-layout>
