<my-pro-page-header-wrapper>
  <nz-layout>
    <nz-content>
      <nz-card [nzBordered]="false">
        <div class="edit-button-div">
          <button nz-button class="icon-add" nzShape="round" (click)="addModal()"
                  [acl]="{ability: [aclRight.RIGHT_ADD]}">新建
          </button>
          <button nz-button class="img-filtrate" nzShape="round" (click)="openDrawer()">筛选</button>
        </div>

        <nz-table #headerTable
                  nzShowSizeChanger
                  nzBordered
                  [nzData]="list"
                  [nzLoading]="loading"
                  [nzShowPagination]="false">
          <thead>
          <tr>
            <th nzWidth="400px">权限名称</th>
            <th>权限编号</th>
            <th>范围权限</th>
            <th>委托商</th>
            <th>服务提供商</th>
            <th>设备使用商</th>
            <th>平台管理</th>
            <th>包含额外企业</th>
            <th nzWidth="100px" [acl]="{ability: [aclRight.RIGHT_MOD, aclRight.RIGHT_DEL]}">操作</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let data of headerTable.data">
            <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
              <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
                <td nzAlign="left"
                    [nzIndentSize]="item.level * 20"
                    [nzShowExpand]="!!item.children"
                    [(nzExpand)]="item.expand"
                    (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)">
                  {{ item.title }}
                  <ng-container *ngIf="item.rightCode">{{"(" + item.rightCode + ")"}}</ng-container>
                  <button nz-button nzType="link" (click)="addModal(item)">
                    <span>[添加]</span>
                  </button>
                </td>
                <td>{{ item.key }}</td>
                <td>
                  <span *ngIf="item.hasScope == 'Y'">是</span>
                  <span *ngIf="item.hasScope != 'Y'">否</span>
                </td>
                <td>
                  <span *ngIf="item.serviceDemander == 'Y'">是</span>
                  <span *ngIf="item.serviceDemander != 'Y'">否</span>
                </td>
                <td>
                  <span *ngIf="item.serviceProvider == 'Y'">是</span>
                  <span *ngIf="item.serviceProvider != 'Y'">否</span>
                </td>
                <td>
                  <span *ngIf="item.deviceUser == 'Y'">是</span>
                  <span *ngIf="item.deviceUser != 'Y'">否</span>
                </td>
                <td>
                  <span *ngIf="item.cloudManager == 'Y'">是</span>
                  <span *ngIf="item.cloudManager != 'Y'">否</span>
                </td>
                <td>
                  <span *ngIf="item.hasExtraCorp == 'Y'">是</span>
                  <span *ngIf="item.hasExtraCorp != 'Y'">否</span>
                </td>
                <td [acl]="{ability: [aclRight.RIGHT_MOD, aclRight.RIGHT_DEL]}">
                  <a [acl]="{ability: [aclRight.RIGHT_MOD]}" (click)="editModal(item)">编辑</a>
                  <nz-divider [acl]="{ability: [aclRight.RIGHT_MOD, aclRight.RIGHT_DEL], mode: 'allOf'}"
                              nzType="vertical"></nz-divider>
                  <a [acl]="{ability: [aclRight.RIGHT_DEL]}" (click)="showDeleteConfirm(item.key)">删除</a>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </nz-table>
      </nz-card>
    </nz-content>
    <nz-drawer nzTitle="权限筛选" [nzVisible]="drawerVisible" nzWidth="300px" (nzOnClose)="closeDrawer()"
               [nzClosable]="'true'">
      <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm">
        <nz-form-item>
          <nz-form-label nzFor="roleName">权限名称</nz-form-label>
          <nz-form-control>
            <nz-select
              style="width: 200px;"
              nzShowSearch
              nzServerSearch
              nzAllowClear="true"
              nzPlaceHolder="请输入权限名称"
              [nzFilterOption]="nzFilterOption"
              (nzOnSearch)="matchRight($event)"
              formControlName="right">
              <nz-option *ngFor="let o of rightList" [nzLabel]="o.text" [nzValue]="o"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>范围权限</nz-form-label>
          <nz-form-control>
            <nz-select nzAllowClear="true" style="width: 200px;" formControlName="hasScope"
                       (ngModelChange)="hasScopeChange()"
                       nzPlaceHolder="是/否">
              <nz-option nzLabel="是" nzValue="Y"></nz-option>
              <nz-option nzLabel="否" nzValue="N"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="scopeTypeListVisible">
          <nz-form-label>范围类型</nz-form-label>
          <nz-form-control>
            <nz-select nzAllowClear style="width: 200px;" formControlName="scopeTypeList"
                       nzMode="multiple"
                       nzPlaceHolder="请选择范围类型">
              <nz-option *ngFor="let o of rightScopeList" [nzLabel]="o.name" [nzValue]="o.code"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>委托商</nz-form-label>
          <nz-form-control>
            <nz-select nzAllowClear="true" style="width: 200px;" formControlName="serviceDemander"
                       nzPlaceHolder="是/否">
              <nz-option nzLabel="是" nzValue="Y"></nz-option>
              <nz-option nzLabel="否" nzValue="N"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>服务提供商</nz-form-label>
          <nz-form-control>
            <nz-select nzAllowClear="true" style="width: 200px;" formControlName="serviceProvider"
                       nzPlaceHolder="是/否">
              <nz-option nzLabel="是" nzValue="Y"></nz-option>
              <nz-option nzLabel="否" nzValue="N"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>设备使用商</nz-form-label>
          <nz-form-control>
            <nz-select nzAllowClear="true" style="width: 200px;" formControlName="deviceUser"
                       nzPlaceHolder="是/否">
              <nz-option nzLabel="是" nzValue="Y"></nz-option>
              <nz-option nzLabel="否" nzValue="N"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>平台管理</nz-form-label>
          <nz-form-control>
            <nz-select nzAllowClear="true" style="width: 200px;" formControlName="cloudManager"
                       nzPlaceHolder="是/否">
              <nz-option nzLabel="是" nzValue="Y"></nz-option>
              <nz-option nzLabel="否" nzValue="N"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <div style="text-align: right;margin-top: 40px">
          <button class="ant-btn" style="margin-left: 8px;margin-right: 10px;" nz-button (click)="clearDrawer();"><span>清空筛选</span>
          </button>
          <button nz-button [nzType]="'primary'" (click)="closeDrawer();queryRight();">查询</button>
        </div>
      </form>
    </nz-drawer>
  </nz-layout>
</my-pro-page-header-wrapper>
