<nz-content>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>参数编码</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback>
        <input nz-input formControlName="paramCode" placeholder="请输入参数编码">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>参数名称</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback>
        <input nz-input formControlName="paramName" placeholder="请输入参数名称">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>参数值</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback>
        <input nz-input formControlName="paramValue" placeholder="请输入参数值">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">参数说明</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback>
        <textarea nz-input formControlName="description" placeholder="请输入参数说明" [nzAutosize]="{minRows:2,maxRows:5}"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="10" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">提交</button>&nbsp;
        <button nz-button type="button" (click)="destroyModal()">取消</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-content>
