<my-pro-page-header-wrapper>
  <nz-card [nzBordered]="false">
    <div class="edit-button-div">
      <!--<i nz-icon nzType="plus-circle" nzTheme="outline" class="icon-add" (click)="addModal()" nz-tooltip
         nzTooltipTitle="新建"></i>
      <i nz-icon nzType="anyfix:filtrate" nzTheme="outline" class="img-filtrate" (click)="openDrawer()" nz-tooltip
         nzTooltipTitle="筛选"></i>-->
      <button nz-button class="icon-add" nzShape="round" (click)="addModal()">新建</button>
      <button nz-button class="img-filtrate" nzShape="round" (click)="openDrawer()">筛选</button>
    </div>
    <ng-template #totalTemplate let-total> 共 {{ total }} 条</ng-template>
    <nz-table #headerTable
              nzShowSizeChanger
              nzBordered
              [nzFrontPagination]="false"
              [nzData]="list"
              [nzLoading]="loading"
              [nzTotal]="page.total"
              [(nzPageIndex)]="page.pageNum"
              [(nzPageSize)]="page.pageSize"
              [nzShowTotal]="totalTemplate"
              (nzPageIndexChange)="queryRole()"
              (nzPageSizeChange)="queryRole(true)">
      <thead>
      <tr>
        <th nzWidth="50px">序号</th>
        <th>角色名称</th>
        <th>应用名称</th>
        <th>是否启用</th>
        <th>描述</th>
        <th nzWidth="100px">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of headerTable.data;let index = index">
        <td>{{ page.getNo(index) }}</td>
        <td>{{ data.roleName }}</td>
        <td>{{ data.appNames }}</td>
        <td>
          <label *ngIf="data.enabled == 'Y'">是</label>
          <label *ngIf="data.enabled != 'Y'">否</label>
        </td>
        <td>{{ data.description }}</td>
        <td>
          <a (click)="editModal(data.roleId)" *ngIf="data.sysType != 1">编辑</a>
          <nz-divider nzType="vertical" *ngIf="data.sysType != 1"></nz-divider>
          <a (click)="showDeleteConfirm(data.roleId)" *ngIf="data.sysType != 1">删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
  <nz-drawer nzTitle="角色筛选" [nzVisible]="drawerVisible" nzWidth="300px" (nzOnClose)="closeDrawer()"
             [nzClosable]="'true'">
    <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm">
      <nz-form-item>
        <nz-form-label nzFor="roleName">角色名称</nz-form-label>
        <nz-form-control>
          <nz-select
            style="width: 200px;"
            nzShowSearch
            nzServerSearch
            nzAllowClear
            nzPlaceHolder="请输入角色名称"
            [nzFilterOption]="nzFilterOption"
            (nzOnSearch)="matchRole($event)"
            formControlName="roleName">
            <nz-option *ngFor="let o of roleList" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>是否可用</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear="true" style="width: 200px;" formControlName="enabled"
                     nzPlaceHolder="是/否">
            <nz-option nzLabel="是" nzValue="Y"></nz-option>
            <nz-option nzLabel="否" nzValue="N"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <div style="text-align: right;margin-top: 40px">
        <button class="ant-btn" style="margin-left: 8px;margin-right: 10px;" nz-button (click)="clearDrawer();"><span>清空筛选</span>
        </button>
        <button nz-button [nzType]="'primary'" (click)="closeDrawer();queryRole(true)">查询</button>
      </div>
    </form>
  </nz-drawer>
</my-pro-page-header-wrapper>
