<nz-page-header [nzBackIcon]="backIcon">
  <nz-page-header-title>申请快速转库</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button (click)="goBack()" nzType="primary" nzShape="round" >返回</button>
    <button nz-button nzType="primary" nzShape="round"  (click)="submit()" [disabled]="!submitForm.valid" >提交</button>
  </nz-page-header-extra>
</nz-page-header>

<ng-template #backIcon>
  <img src="assets/go-back.svg" style="padding-right: 20px;">
</ng-template>

<nz-layout>
  <div nz-row>
    <nz-card [nzBordered]="false">
      <form [formGroup]="submitForm">

        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>转出库房</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="fromDepotErrorTip">
              <nz-select  (ngModelChange)="validFromDepotAndToDepot('from')" nzShowSearch nzAllowClear
                     (nzOnSearch)="queryDepotList($event,'from')" formControlName="fromDepotId" nzPlaceHolder="请选择转出库房" >
                <nz-option *ngFor="let item of fromDepotSelectionOptions" [nzValue]="item.id"
                           [nzLabel]="item.name"></nz-option>
              </nz-select>
              <ng-template #fromDepotErrorTip let-control>
                <ng-container *ngIf="control.hasError('required')">
                  请选择转出库房！
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div  nz-col nzSpan="8">
          <div nz-row>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired>转入库房</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="toDepotErrorTip">
                <nz-select (ngModelChange)="validFromDepotAndToDepot('to')"  nzShowSearch nzAllowClear formControlName="toDepotId"
                            (nzOnSearch)="queryDepotList($event,'to')" nzPlaceHolder="请选择转入库房">
                  <nz-option *ngFor="let item of toDepotSelectionOptions" [nzValue]="item.id"
                             [nzLabel]="item.name"></nz-option>
                </nz-select>
                <ng-template #toDepotErrorTip let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    请选择转入库房！
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div  nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>转库日期</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24"  [nzErrorTip]="">
                <nz-date-picker formControlName="applyDate"  nzFormat="yyyy-MM-dd"
                       (ngModelChange)="dateChange()"  [nzDisabledTime]="true"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </nz-card>
  </div>


  <div nz-row>
    <nz-card style="border-width: 1px 0 0 0">
      <p class="p-title">备件批量出库列表<i nz-icon nzType="wms:add-circle" nzTheme="outline" class="i-add" nz-tooltip
                                    nzTooltipTitle="添加备件" (click)="addPartList()"></i>
      </p>
      <nz-table
        nzBordered
        nzShowPagination="false"
        [nzData]="partList">
        <thead>
        <tr>
          <th nzWidth="50px">序号</th>
          <th>物料分类</th>
          <th>物料规格</th>
          <th>物料型号</th>
          <th>物料状态</th>
          <th>存储状态</th>
          <th>物料品牌</th>
          <th>唯一编码</th>
          <th>厂商序列号</th>
          <th>数量</th>
          <th>小计</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of partList; let index = index">
          <td>{{ page.getNo(index) }}</td>
          <td>{{ data.catalogName }}</td>
          <td>{{ data.normsValue }}</td>
          <td>{{ data.modelName }}</td>
          <td>{{ data.situationName }}</td>
          <td>{{ data.statusName }}</td>
          <td>{{ data.brandName }}</td>
          <td>{{ data.barcode }}</td>
          <td>{{ data.sn }}</td>
          <td *ngIf="flag.edit !== page.getNo(index) ">{{ data.applyQuantity }}</td>
          <td *ngIf="flag.edit === page.getNo(index)">
            <nz-input-number nzSize="small" [(ngModel)]="data.applyQuantity" [nzMin]="1" [nzMax]="data.actualQty" [nzStep]="1"></nz-input-number>
            <span class="prompt"><={{data.actualQty}}</span>
          </td>
          <td *ngIf="data.all > 0" [rowSpan]="data.rowNum">{{data.all}}</td>
          <td>
            <i  *ngIf="flag.edit !== page.getNo(index)" nz-icon nzType="form" nzTheme="outline" nz-tooltip nzTooltipTitle="修改记录" style="color: #FF9F00;font-size: 17px;"
                (click)="editPart( page.getNo(index))"></i>
            <i  *ngIf="flag.edit === page.getNo(index)" nz-icon nzType="save" nzTheme="outline" nz-tooltip nzTooltipTitle="保存修改" style="color: #FF9F00;font-size: 17px;"
                (click)="editPart(0);mergeRow();"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <i nz-icon nzType="wms:close-circle" nzTheme="outline" style="font-size: 17px;" nz-tooltip nzTooltipTitle="删除记录" (click)="deletePart(data.id);mergeRow()" ></i>
          </td>
        </tr>
        <tr *ngIf="total > 0">
          <td colspan="9">合计</td>
          <td>{{total}}</td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>

</nz-layout>

